<div>
    <h3>Details of Insured</h3>
    <form>
        <div class="form-control">
            <label for="name">Name</label>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Full Name"
            />
        </div>
        <div class="form-control">
            <label for="dateOfBirth">Date of Birth</label>
            <input
                type="text"
                name="dateOfBirth"
                id="dateOfBirth"
                placeholder="DD/MM/YYYY"
            />
        </div>
        <div class="form-control">
            <label for="age">Age</label>
            <input
                type="number"
                disabled
                name="age"
                id="age"
                placeholder="0"
            />
        </div>
        <div class="form-control">
            <label for="sumInsured">Sum Insured</label>
            <input
                type="number"
                name="sumInsured"
                id="sumInsured"
                placeholder="0"
            />
        </div>
        <div class="form-control">
            <label for="occupation">Occupation</label>
            <input
                type="text"
                name="occupation"
                id="occupation"
                placeholder="0"
            />
        </div>
    </form>

</div>